html,
body {
  height: 100%;
}

html {
  display: block;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: grey;
}

p1 {
  font-size: large;
}

canvas {
  display: block;
}
